body {
    background-image: url("https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/pf-s48-ted-1145-jj_2.jpg?w=600&dpr=1&fit=default&crop=default&q=65&vib=3&con=3&usm=15&bg=F4F4F3&ixlib=js-2.2.1&s=72350aed707660d911c1d7fc18594a99");
}
h1 {
    display: block;
    text-align: center;
    color: cornflowerblue;
    font-size: 50px;
}
div {
    max-width: 1200px;
}
img {
    width: 400px;
    height: 400px;
}